html{
	font-size: 62.5%;
	box-sizing: border-box;
}
body{
	margin: 0;
	padding: 0;
	height: 100vh;
	width: 100%;
	background-image:linear-gradient(to right, #0000004f,#2226), url("images/background1.jpg");
	background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
/*nav bar css start*/
#logo img{
	width: 13rem;
	height: 15rem;
}

span{
	  font-family: 'Caveat', cursive; 
	  font-size: 4.4rem;
}


#nav-bar{
	height: 10rem;
	display:flex;
	justify-content: space-between;
	align-items: center;
	background-color: #d7d7d799;
}

#logo{
	display: flex;
	align-items: center;

}



#nav-bar-links ul {
	list-style: none;
	display: flex;
	font-family: 'Work Sans', sans-serif;
	letter-spacing: -0.1rem;
	word-spacing: -0.3rem;
}

#nav-bar-links ul a{
	overflow: hidden;
	text-decoration: none;
	padding: 1.5rem;
}

.links{
	font-size: 2.7rem;
	color: black;
	transition: color .3s;
}
#tag-line {
    font-family: 'Kaushan Script', cursive;
	font-size: 6rem;
	text-align: center;
	display: flex;
	color: white;
}


a:hover {
	color: white;
}


#coffee{
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	margin-top: 6rem;
}

.card img{
	width: 40%;
	height: 100%;
	transform: scale(1.1);

}

.name {
	text-align: center;
	font-family: 'Work Sans', sans-serif;
	font-size: 3rem;
	font-weight: lighter;
}


#location{
	margin-top: 7rem;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}


#top, #bottom{
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 1.5rem;
}

.card{
-webkit-box-shadow: 5px 5px 10px -1px black ;
	color: white;
	overflow: hidden;
	border-radius: 2rem;
	width: 50rem;
	padding-left: .5rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 1.5rem;
	height: 17rem;
	opacity: .9;
	transition: transform .3s;
	background-image: linear-gradient(to top , #fd4b69,#f48208);
}

.card:hover{
	transform: scale(1.06);

}


@media only screen and (max-width: 1100px) {
	html{
	font-size: 50%;
}
}

@media only screen and (max-width: 900px) {
	#top, #bottom{
	flex-direction: column;
}
}

